<h1 class= "label" style="text-align: center; background-color: #011F2E; color: #fff;">
    <strong style="color: #fff;">
        New User
    </strong>
</h1>

<br>

<%= render 'form', user: @user %>

<br>
<br>

<a class="button" href="http://localhost:3000/">Already Have An Account?</a>